
# Ignore all


# Unignore all with extensions
!*.*

# Unignore all dirs
!*/


# Ignore all


# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
CMakeLists_modified.txt



ORB_SLAM3/Examples/ROS/ORB_SLAM3/build/
ORB_SLAM3/CameraTrajectory.txt
ORB_SLAM3/Thirdparty/DBoW2/build/
ORB_SLAM3/Thirdparty/DBoW2/lib/
ORB_SLAM3/Thirdparty/g2o/build/
ORB_SLAM3/Thirdparty/g2o/config.h
ORB_SLAM3/Thirdparty/g2o/lib/
ORB_SLAM3/Vocabulary/ORBvoc.txt
ORB_SLAM3/build/
.vscode/
ORB_SLAM3/lib/

ORB_SLAM3/cmake_modules/
ORB_SLAM3/cmake-build-debug/
ORB_SLAM3/Table_TUMVI_rooms/
ORB_SLAM3/Examples/Monocular/mono_euroc
ORB_SLAM3/Examples/Monocular/mono_kitti
ORB_SLAM3/Examples/Monocular/mono_tum
ORB_SLAM3/Examples/Monocular/mono_tum_vi
ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_euroc
ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_tum_vi
ORB_SLAM3/Examples/RGB-D/rgbd_tum
ORB_SLAM3/Examples/Stereo/stereo_euroc
ORB_SLAM3/Examples/Stereo/stereo_kitti
ORB_SLAM3/Examples/Stereo/stereo_tum_vi
ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_euroc
ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_tum_vi
ORB_SLAM3/Examples_old/Monocular/mono_euroc_old
ORB_SLAM3/Examples_old/Monocular/mono_kitti_old
ORB_SLAM3/Examples_old/Monocular/mono_tum_old
ORB_SLAM3/Examples_old/Monocular/mono_tum_vi_old
ORB_SLAM3/Examples_old/Monocular-Inertial/mono_inertial_euroc_old
ORB_SLAM3/Examples_old/Monocular-Inertial/mono_inertial_tum_vi_old
ORB_SLAM3/Examples_old/RGB-D/rgbd_tum_old
ORB_SLAM3/Examples_old/Stereo/stereo_euroc_old
ORB_SLAM3/Examples_old/Stereo/stereo_kitti_old
ORB_SLAM3/Examples_old/Stereo/stereo_tum_vi_old
ORB_SLAM3/Examples_old/Stereo-Inertial/stereo_inertial_euroc_old
ORB_SLAM3/Examples_old/Stereo-Inertial/stereo_inertial_tum_vi_old
ORB_SLAM3/Examples/Calibration/recorder_realsense_D435i
ORB_SLAM3/Examples/Calibration/recorder_realsense_T265
ORB_SLAM3/Examples/Monocular/mono_realsense_D435i
ORB_SLAM3/Examples/Monocular/mono_realsense_t265
ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_realsense_D435i
ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_realsense_t265
ORB_SLAM3/Examples/RGB-D/rgbd_realsense_D435i
ORB_SLAM3/Examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i
ORB_SLAM3/Examples/Stereo/stereo_realsense_D435i
ORB_SLAM3/Examples/Stereo/stereo_realsense_t265
ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_realsense_D435i
ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_realsense_t265
ORB_SLAM3/Examples_old/Monocular/mono_realsense_D435i_old
ORB_SLAM3/Examples_old/Monocular/mono_realsense_t265_old
ORB_SLAM3/Examples_old/Monocular-Inertial/mono_inertial_realsense_D435i_old
ORB_SLAM3/Examples_old/Monocular-Inertial/mono_inertial_realsense_t265_old
ORB_SLAM3/Examples_old/RGB-D/rgbd_realsense_D435i_old
ORB_SLAM3/Examples_old/RGB-D-Inertial/rgbd_inertial_realsense_D435i_old
ORB_SLAM3/Examples_old/Stereo/stereo_realsense_D435i_old
ORB_SLAM3/Examples_old/Stereo/stereo_realsense_t265_old
ORB_SLAM3/Examples_old/Stereo-Inertial/stereo_inertial_realsense_D435i_old
ORB_SLAM3/Examples_old/Stereo-Inertial/stereo_inertial_realsense_t265_old
config/ORBvoc.txt
